data/
database/eeg2go.db
eeg2go_env/
miniconda.sh
logs/
redis-stable/
__pycache__/
*.pyc
*.pyo
*.pyd
outputs/exp2/exp2_epoch_matrix.csv
tmp/database/*.db-*
*.db-wal
*.db-shm
dump.rdb
tmp/
generate_downloads.py
rebuild_experiment_tables.sh
database/rebuild_experiment_tables.py
database/rebuild_experiment_tables.sql
database/view_all_tables.py